[Unit]
Description=Unused Network Interfaces
After=network-online.target multi-user.target

[Service]
Type=oneshot
ExecStart=networkctl down enp5s0 wlan0
Restart=on-failure
RestartSec=60

[Install]
Alias=unused-nifs.service
