[Desktop Entry]
Version=1.0
Name=Claude
Comment=Claude
Exec=omarchy-launch-webapp https://claude.ai --profile-directory="Default"
Terminal=false
Type=Application
Icon=/home/ashot/.local/share/applications/icons/Claude.png
StartupNotify=true
