[Desktop Entry]
Version=1.0
Name=Grok
Comment=Grok
Exec=omarchy-launch-webapp https://grok.com --profile-directory="Default"
Terminal=false
Type=Application
Icon=/home/ashot/.local/share/applications/icons/Grok.png
StartupNotify=true
