[Desktop Entry]
Version=1.0
Name=Monkeytype
Comment=Monkeytype
Exec=omarchy-launch-webapp https://monkeytype.com
Terminal=false
Type=Application
Icon=/home/ashot/.local/share/applications/icons/Monkeytype.png
StartupNotify=true
