[Desktop Entry]
Version=1.0
Name=TypeRacer
Comment=TypeRacer
Exec=omarchy-launch-webapp https://play.typeracer.com
Terminal=false
Type=Application
Icon=/home/ashot/.local/share/applications/icons/TypeRacer.png
StartupNotify=true
